%br
.row
  .col-md-2
  .col-md-8
    #efective_payment
      = simple_form_for(@sale, html: { class: 'form-horizontal' }) do |f|
        %input{:name => "kindOfOperation", :type => "hidden", :value => "other"}
        %input#amount.form-control{:name => "amount", :type => "hidden", :value => @sale.sale_order.total}/
        %input.form-control{:name => "email", :type => "hidden", :value => current_user["email"]}/
        %table.table
          - @payment_ways["response"].each do |payment_method|  
            - case payment_method["payment_type_id"]
              - when "ticket"
                %tr
                  %td
                    %input{value: payment_method["id"]}(name="kindPayment" type="radio")
                  %td
                    =image_tag(payment_method["secure_thumbnail"]) 
                  %td
                    = payment_method["name"]
                  %td Efectivo
              - when "atm"
                %tr
                  %td
                    %input{value: payment_method["id"]}(name="kindPayment" type="radio")
                  %td
                    =image_tag(payment_method["secure_thumbnail"])
                  %td
                    = payment_method["name"]
                  %td Deposito Bancario 
        %br
        .col-sm-3
        .col-sm-7
          %input.form-control{:type => "submit", :value => "Pay!", class: "btn btn-warning"}
          
:javascript
  
  payFormTicket = new paymentForm("#wallet-form form"); 
  