%br
.row
  .col-sm-3
  .col-sm-6
    #wallet-form
      = simple_form_for(@sale, html: { class: 'form-horizontal' }) do |f| 
        %input{:name => "kindOfOperation", :type => "hidden", :value => "wallet"}
        - if @customer_cards != nil
          .form-group
            %label.col-sm-5.control-label Tarjeta:
            .col-sm-7
              %select.form-control#cardId(name="cardId" data-checkout='cardId')
                - @customer_cards.each do |card| 
                  %option{"name" => "cardId", value: card["id"], first_six_digits: card["first_six_digits"], security_code_length: card["security_code_length"]}
                    = card["first_six_digits"]
                    = card["payment_method"]["name"] == "amex" ? " XXX " : " XXXX " 
                    = card["last_four_digits"] 
                    = " - "
                    = card["issuer"]["name"] 
        .form-group.cvv
          %label.col-sm-5.control-label Security Code (CVV):
          .col-sm-4
            %input#cvv.form-control(data-checkout="securityCode")
        %br
        .row
          .col-sm-3
          .col-sm-6
            %input.form-control{:type => "submit", :value => "Pay!", class: "btn btn-warning walletpay"}
        
      
:javascript
    
    payFormWallet = new paymentForm("#wallet-form form"); 
    
    