/ .container
/   .h2 Operation Completed!
/   %br
/   %table
/     %tbody
/       %tr
/         %td Operation Type
/         %td= @payment[:operation_type]
/       %tr
/         %td Payment Type
/         %td= @payment[:payment_type_id]
/       %tr
/         %td Status
/         %td= @payment[:cc_rejected_other_reason]
/       %tr
/         %td Transaction Amount
/         %td= @payment[:transaction_amount]
/       %tr
/         %td Card Number
/         %td= "**** **** **** #{@payment[:last_four_digits]}"

= @payment.inspect


        
-#"Payment: {\"status\"=>\"201\", \"response\"=>{\"id\"=>522024, \"date_created\"=>\"2016-04-19T11:28:25.000-04:00\", \"date_approved\"=>nil, \"date_last_updated\"=>\"2016-04-19T11:28:26.000-04:00\", \"money_release_date\"=>nil, \"operation_type\"=>\"regular_payment\", \"issuer_id\"=>\"3\", \"payment_method_id\"=>\"master\", \"payment_type_id\"=>\"credit_card\", \"status\"=>\"rejected\", \"status_detail\"=>\"cc_rejected_other_reason\", \"currency_id\"=>\"ARS\", \"description\"=>\"Sample sale\", \"live_mode\"=>false, \"sponsor_id\"=>nil, \"authorization_code\"=>nil, \"collector_id\"=>202809963, \"payer\"=>{\"type\"=>\"anonymous\", \"id\"=>nil, \"email\"=>\"mail@joelibaceta.com\", \"identification\"=>{\"type\"=>nil, \"number\"=>nil}, \"phone\"=>{\"area_code\"=>nil, \"number\"=>nil, \"extension\"=>nil}, \"first_name\"=>nil, \"last_name\"=>nil}, \"metadata\"=>{}, \"order\"=>{}, \"external_reference\"=>nil, \"transaction_amount\"=>15, \"transaction_amount_refunded\"=>0, \"coupon_amount\"=>0, \"differential_pricing_id\"=>nil, \"deduction_schema\"=>nil, \"transaction_details\"=>{\"net_received_amount\"=>0, \"total_paid_amount\"=>15, \"overpaid_amount\"=>0, \"external_resource_url\"=>nil, \"installment_amount\"=>15, \"financial_institution\"=>nil, \"payment_method_reference_id\"=>nil}, \"fee_details\"=>[], \"captured\"=>true, \"binary_mode\"=>false, \"call_for_authorize_id\"=>nil, \"statement_descriptor\"=>\"WWW.MERCADOPAGO.COM\", \"installments\"=>1, \"card\"=>{\"id\"=>nil, \"first_six_digits\"=>\"511842\", \"last_four_digits\"=>\"9114\", \"expiration_month\"=>6, \"expiration_year\"=>2020, \"date_created\"=>\"2016-04-19T11:28:25.000-04:00\", \"date_last_updated\"=>\"2016-04-19T11:28:25.000-04:00\", \"cardholder\"=>{\"name\"=>\"Joel\", \"identification\"=>{\"number\"=>\"46819233\", \"type\"=>\"DNI\"}}}, \"notification_url\"=>nil, \"refunds\"=>[]}}"