%ul.nav.nav-tabs
  %li.active(role="presentation")
    %a(href="#card" data-toggle="tab") Use Custom Credit Card
  %li(role="presentation")
    %a(href="#wallet" data-toggle="tab") Use Wallet
  %li(role="other")
    %a(href="#other" data-toggle="tab") Other Payment Ways
.tab-content
  .tab-pane.active#card
    %br
    - if @error
      .alert.alert-danger= @error
    =render partial: "card_payment"
  .tab-pane#wallet
    =render partial: "wallet"
  .tab-pane#other
    =render partial: "other"